<!-- <div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <nb-card class="col-12">
          <nb-card-body>
            <h1>Now Deployment</h1>
            We start with the development of the home featur.</nb-card-body
          >
          <nb-card-footer>On June 10</nb-card-footer>
        </nb-card>
        <nb-card class="col-3 m-2">
          <nb-card-header>This is a Test</nb-card-header>
          <nb-card-body
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            impedit cumque ex. Sapiente reiciendis necessitatibus eaque ut
            aspernatur? Itaque doloribus voluptatem doloremque cumque in quia
            hic nulla earum libero magni.</nb-card-body
          >
        </nb-card>
        <nb-card class="col-3 m-2">
          <nb-card-header>Test</nb-card-header>
          <nb-card-body>Data</nb-card-body>
        </nb-card>
        <nb-card class="col-3 m-2">
          <nb-card-header>another Test</nb-card-header>
          <nb-card-body
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            repellat, voluptas dolores deserunt iusto minus quibusdam atque
            placeat, distinctio a exercitationem ullam animi consequatur.
            Facilis accusantium ipsum quae nulla officia?</nb-card-body
          >
        </nb-card>
      </div>
    </div>
    <div class="col-3">
      <nb-card class="col-12">
        <nb-card-header>Test</nb-card-header>
        <nb-card-body>Data</nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<nb-actions size="small">
  <nb-action icon="nb-search"></nb-action>
  <nb-action icon="nb-power-circled"></nb-action>
  <nb-action icon="nb-person"></nb-action>
</nb-actions> -->
